
.intro
{
    margin-top: 5%;
    display: flex;
  

}

.intro-element1{
   position: absolute;
   left: 5%;
   font-family: 'Noto Sans Mongolian', sans-serif;
   font-size: 45px;
   font-weight: 1000;
   letter-spacing: 2px;
   
}

.intro-element2{
    position: absolute;
    left: 5%;
    padding-top: 14%;
    font-family: 'Inter', sans-serif;
    font-size: small;
 }
 
 .intro-pic{
   margin-top: 0;
    margin-right: 75px;
    width: 50%;
 }
 .different{
    color:#db545a ;
 }

 /* Search job Css */

 .job-search{
    position:absolute;
    left:5%;
    top: 70%;
    border: 0px solid ;
    
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2),
    6.7px 6.7px 5.3px rgba(0, 0, 0, 0.028),
    12.5px 12.5px 10px rgba(0, 0, 0, 0.035),
    22.3px 22.3px 17.9px rgba(0, 0, 0, 0.042),
    41.8px 41.8px 33.4px rgba(0, 0, 0, 0.05),
    100px 100px 80px rgba(0, 0, 0, 0.07);
    border-radius: 55px;
    padding: 10px;
    width:580px;
    
 }
 .input-job
 {
    margin: 7px;
    font-size: 16px;
    width: 200px;
    height: auto;
    border: 0px solid  ;
    padding: 5px;
    padding-left: 35px;
    background: white url(D:/mini_project/simple/public/search-12-24.png) left no-repeat;
 }
 .input-location{
  margin: 5px;
  font-size: 16px;
  width: 200px;
  border: 0px solid  ;
  padding: 5px;
  padding-left: 35px;
  background: white url(D:/mini_project/simple/public/map-marker-2-24.png) left no-repeat;
 }
 .job-search i{
    position: absolute;
    left: 3;
    top: 17px;
    padding: 9px 8px;
    color: #0153FF;
 }

 .job-search i{
    position: absolute;
    left: 3;
    top: 17px;
    padding: 9px 8px;
    
 }
 .search-btn
 {
    background-color:#0153FF;
    border: none;
    color:white;
    padding: 15px 32px;
    margin-left: 20px;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    border-radius: 50px;
    font-family: 'Inter', sans-serif;
 }
 .intro
 {
     margin-top: 5%;
     display: flex;
   
 
 }
 
 .intro-element1{
    position: absolute;
    left: 5%;
    font-family: 'Noto Sans Mongolian', sans-serif;
    font-size: 45px;
    font-weight: 1000;
    letter-spacing: 2px;
    
 }
 
 .intro-element2{
     position: absolute;
     left: 5%;
     padding-top: 14%;
     font-family: 'Inter', sans-serif;
     font-size: small;
  }
  
  .intro-pic{
    margin-top: 0;
     margin-left: 65%;
     width: 45%;
  }
 
 
  /* Search job Css */
 
  .job-search{
     display: flex;
     left:5%;
     top: 70%;
     border: 0px solid ;
    
     box-shadow: 0 3px 10px rgb(0 0 0 / 0.2),
     6.7px 6.7px 5.3px rgba(0, 0, 0, 0.028),
     12.5px 12.5px 10px rgba(0, 0, 0, 0.035),
     22.3px 22.3px 17.9px rgba(0, 0, 0, 0.042),
     41.8px 41.8px 33.4px rgba(0, 0, 0, 0.05),
     100px 100px 80px rgba(0, 0, 0, 0.07);
     border-radius: 55px;
     padding: 10px;
     width:400px;
     
  }

  .input-location{
   margin: 7px;
   font-size: 16px;
   width: 200px;
   border: 0px solid  ;
   padding: 5px;
   padding-left: 35px;
   margin-left: 10px;
   background: white url(D:/mini_project/simple/public/map-marker-2-24.png) left no-repeat;
  }
  
  .search-btn
  {
     background-color:#f1c50e ;
     border: none;
     color:white;
     padding: 15px 32px;
     margin-left: 60px;
     text-align: center;
     text-decoration: none;
     font-size: 15px;
     border-radius: 50px;
     font-family: 'Inter', sans-serif;
  }
  

